* {
	font-family: Arial, serif;
	text-decoration: none;
}

header {
	background: #84000f;
	display: inline-flex;
	padding: 20px;
}

header .menu {
	margin-left: 1390px;
}

header .menu>a {
	margin-left: 20px;
}

body {
	margin: 0 auto;
}

.body {
	margin: 15px;
}

.flex {
	display: flex;
}

.logo>a, .menu>a {
	color: #fff;
}

.main_new {
	background: #acdddb;
	margin: 15px 5px;
	padding: 20px;
	line-height: 50px;
}

.main_new_article {
	margin: 20px;
	margin-top: 0;
}

.main_new_article>h3 {
	font-size: 24px;
}

.latest_news>h3 {
	font-size: 24px;
	text-align: center;
}

h5 {
	font-size: 18px;
	margin: 0;
}

.last_new {
	width: 25%;
	margin-right: 50px;
	border: 1px solid #ccc;
}

.last_new:last-child {
	margin: 0;
}

.last_new img {
	width: 100%;
}

.last_new p {
	margin: 0;
}

.last_new a {
	background: #84000f;
	color: #fff;
	padding: 5px;
}

.textbox {
	margin: 20px;
}